h1 {
  color: white;
}

#navbarSupportedContent h1 {
  font-size: 100%;
}

.quiz-start-page {
  text-align: center;
  background: linear-gradient(to bottom right, #f7ff9194, #f7ff91b8);
}

.quiz-start-page, .cont {
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
  border-radius: 7px;
}

.question {
  font-size: 25px;
  border-radius: 20px;
  height: 6em;
  overflow: scroll-x;
}

.option {
  width: 48%;
  display: inline-block;
  padding: 10px 0 10px 15px;
  background: #e2e2e2;
  margin: 10px 0 10px 10px;
  color: #000000;
  border-radius: 20px;
  margin-bottom: 20px;
}

.option:hover {
  background: #08038C;
  color: #f6f6f6;
}

.result {
  text-align: center;
  font-size: 50px;
  background: linear-gradient(to bottom right, #02b3e4, #02ccba);
}

input:checked {
  background: #08038C;
  color: #000;
}

.choiced {
  background-color: pink;
}

.choiced:after {
  content: " ×";
  color: red;
  font-weight: bold;
}

.correct {
  background-color: lightblue;
}

.correct.choiced {
  background-color: lightgreen;
}

.correct.choiced:after {
  content: " ○";
  color: blue;
  font-weight: bold;
}