#navbarSupportedContent h1 {
  font-size: 100%;
}

.quiz-start-page {
  text-align: center;
  /* background: linear-gradient(to bottom right, #f7ff9194, #f7ff91b8); */
}

.question {
  font-size: 20px;
  /* border-radius: 20px; */
  height: 4em;
  overflow-y: scroll;
}

.option {
  width: 95%;
  padding: 10px 0 10px 10px;
  background: #e2e2e2;
  margin: 10px 0 10px 10px;
  color: #000000;
  border-radius: 20px;
  margin-bottom: 0.25em;
}

.option:hover {
  background: #08038C;
  color: #f6f6f6;
}

.result {
  text-align: center;
  font-size: 45px;
}

input:checked {
  background: #08038C;
  color: #000;
}

.choiced {
  background-color: pink;
}

.choiced:after {
  content: "";
  color: red;
  font-weight: bold;
}

.correct {
  background-color: lightblue;
  color: darkblue;
}

.correct.choiced {
  background-color: lightgreen;
}

.correct.choiced:after {
  content: " ○";
  color: blue;
  font-weight: bold;
}